<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- Thư mục chứa file log, khai báo LogPath trong hàm Main trước khi chạy XmlConfigurator.Configure()-->
			<file type="log4net.Util.PatternString" value="%property{LogPath}/Logs/" />
			<param name="DatePattern" value='yyyy-MM-dd"/log.log"' />
			<param name="StaticLogFileName" value="false" />
			<param name="RollingStyle" value="Composite" />
			<param name="AppendToFile" value="true" />
			<!--Dung lượng file log tối đa-->	
			<param name="MaximumFileSize" value="1KB" />
			<!--Số file log tối đa lưu giữ-->
			<param name="MaxSizeRollBackups" value="3" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.PatternLayout">
				<!-- %-5level: level hiển thị với 5 ký tự, %property{DataProvider}: khai báo DataProvider trong hàm Main trước khi chạy XmlConfigurator.Configure() -->  
				<conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} %-5level - %property{DataProvider} - %message%newline" />
			</layout>	  
		</appender>	
		<root>
			<level value="ALL"/>
			<!-- Log hết từ level ALL trở lên-->
		<appender-ref ref="RollingFileAppender"/>
		<!-- dùng appender RollingFileAppender-->
		</root>
	</log4net>
	<connectionStrings>
		<!--<add name="SqlServerConnection" connectionString="Data Source=.\sqlexpress;AttachDbFilename={ApplicationFolder}\CanteenManagerLocalDb.mdf;Initial Catalog=CanteenManagerLocalDb;Integrated Security=True"/>-->
		<add name="SqlServerConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=CanteenManager;Integrated Security=True"/>
		<add name="SQLiteConnection" connectionString="Data Source = localdb.db; foreign keys=true"/>
	</connectionStrings>
</configuration>